html {
    font-size: 0.4px;
}

a {
    cursor: url(../images/cursormario.cur), pointer;
}

body {
    margin: 0;
}

.wrapper {
    padding: 40px 15px;
    max-width: 1780px;
    margin: 0 auto;

}


.header-wrap {
    background-color: #cb4f0f;
}

.header {
    align-items: center;
}

.header picture {
    width: 60px;
    display: inline-block;
}

.header img,
.gamewatch img,
.console img{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.yellow img {
    height: 50vw;
    display: inline-block;
}

.blue img {
    height: 15vw;
    display: inline-block;
}

.abc img,
.duck-hunt img{
    max-width: 100%;
    /* width: 100%;
    height: 100%;
    display: inline-block;
    height: 20vw;
    display: inline-block; */
}

.text {
    font-size: 54rem;
    color: #000000;
    font-weight: 400;
    font-family: "Press Start 2P";
    margin-left: 30px;
}

.hamburger {
    display: block;
    width: 55px;
    height: 50px;
}

.hamburger span {
    top: 12px;
    left: 3px;
    width: 50px;
    height: 8px;
    display: inline-block;
    background-color: #000;
    position: relative;
}

.hamburger span:before,
.hamburger span:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 50px;
    height: 8px;
    background-color: #000;
    top: 18px;
}

.hamburger span:before {
    top: -18px;
}

.nav_menu {
    display: none;
}

.text1 {
    font-size: 30rem;
}

.text2 {
    font-size: 43rem;
}

.textM {
    margin: 6.5px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .nav_menu a {
    margin-left: 80rem;
    text-decoration: none;
    color: #000;
    font-size: 24rem;
    font-family: "Roboto";
    display: inline-block;
    transition: 1s;
}

.header .nav_menu a:hover {
    transform: scale(1.2);
}


.gamewatch {
    text-align: center;
    min-height: 65vh;
    background-color: #5e91fe;
    padding-top: 20vh;
}

.gamewatch h1 {
    font-size: 54rem;
    color: #000000;
    font-family: "Press Start 2P";
    margin-bottom: 80rem;
    margin-right: 15px;
}

.gamewatch p {
    font-size: 50rem;
    color: #000000;
    font-family: "Roboto";
}

.gamewatch .flex {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    /* width: 100%; */
    height: 6.3vw;
    background-image: url(../images/Block.png);
    background-size: contain;
}

.button {
    text-align: center;
    color: #000;
    width: 344rem;
    background-color: #cb4f0f;
    box-sizing: border-box;
    display: inline-block;
    padding: 31.5rem 15rem;
    font-size: 18rem;
    letter-spacing: 1px;
    font-family: "Press Start 2P";
    text-decoration: none;
    transition: 0.2s;
}

.button:hover {
    background-color: #7f320b;
}

h2 {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 50rem;
    color: #000000;
    font-weight: 400;
    margin-top: 180rem;
    margin-bottom: 120rem;
}

.consoles li {
    margin-top: 50rem;
    font-size: 50rem;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";

}

.consoles p {
    opacity: 0.902;
    font-size: 72rem;
    color: #000000;
    font-weight: 400;
    font-family: "Press Start 2P";
    margin: 80rem 0;
}

.consoles .flex {
    column-gap: 20px;
}

.consoles img {
    padding-top: 90rem;
}

.console {
    max-width: 1520rem;
}

.console .flex {
    flex-wrap: wrap;
    justify-content: center;
}

.console h2 {
    font-size: 40rem;
}

.consoles1 {
    margin-bottom: 300rem;
}

img {
    vertical-align: bottom;
}

.games {
    background-image: url(../images/games.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 56.3vw;

}

.games h2 {
    font-size: 50rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Press Start 2P";
    text-align: center;

}

.games .flex {
    justify-content: center;
    height: 56.3vw;
}

.blue {
    background-color: #0000ff;
    padding-bottom: 50rem;
    padding-top: 200rem;
}

.blue>* {
    margin-left: 40px;
}

.blue h2 {
    margin-top: 40px;
    margin-bottom: 0;
    text-align: left;
    font-size: 30rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Press Start 2P";
}

.yellow {
    /* text-align: right; */
    position: relative;
    background-color: #fff600;
    height: 360rem;
}

.yellow img {
    position: absolute;
    bottom: 0;
    right: 25px;
}

.abc picture,
.duck-hunt picture{
    display: block;
}

.abc,
.duck-hunt {
    width: 40%;
    margin: auto;
    text-align: center;
}

.prize {
    padding: 90rem 0;
}

.prize>.flex {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10vw;
}

.coin{
    column-gap: 50rem;
    flex-wrap: wrap;
}

.def {
    flex-direction: column-reverse;
    /* width: auto; */
}

.def h3 {
    font-size: 50rem;
    color: #000000;
    font-weight: 400;
    font-family: "Press Start 2P";
}

.def p {
    font-size: 40rem;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    margin-top: 30px;
    margin-bottom: 45px;
}

.def strong {
    font-size: 100rem;
    color: #000000;
    font-weight: 400;
    font-family: "Press Start 2P";
}

.def img {
    /* margin-right: 45px; */
    margin-left: -15px;
}

.button1 {
    text-align: center;
    color: #fff;
    max-width: 100%;
    background-color: #000;
    box-sizing: border-box;
    display: block;
    padding: 45rem 45rem;
    font-size: 24rem;
    letter-spacing: 1px;
    font-family: "Press Start 2P";
    text-decoration: none;
    transition: 0.2s;
}

.button1:hover {
    background-color: #434343;
}

.Block {
    width: 100%;
    height: 121rem;
    background-image: url(../images/Block.png);
}

.questions {
    background-color: #000;
}

.questions h2 {
    font-size: 83rem;
    color: #ffffff;
    font-weight: 400;
    font-family: "Press Start 2P";
    text-align: center;
    margin-top: 125rem;
}

.questions .button{
    width: 100%;       
}

.review {
    width: 100%;
    margin-bottom: 170rem;
}


.text5 textarea {
    box-sizing: border-box;
    /* max-width: 1019rem; */
    width: 100%;
    font-size: 40rem;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    display: block;
    height: 300rem;
    background-color: #fff;
    resize: none;
    padding: 30rem;
    margin-bottom: 60rem;
}


.text5 textarea::placeholder {
    color: #000;
}


.text3 input {
    box-sizing: border-box;
    /* max-width: 1067rem; */
    width: 100%;
    font-size: 40rem;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    display: block;
    background-color: #fff;
    resize: none;
    padding: 30rem;
    margin-bottom: 60rem;
}

.text3 input::placeholder {
    color: #000;
}

.questions a {
    font-size: 48rem;
    width: 567rem;
    padding: 45rem;
}

.questions h2{
    font-size: 60rem;
}

.questions .flex{
    flex-wrap: wrap;
    column-gap: 30rem;
    justify-content: center;
}

.gameslist {
    background-color: #cb4f0f;
    padding-bottom: 60rem;
}

.gameslist h2 {
    margin: 60rem;
}

.gameslist li {
    font-size: 40rem;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
}

.gameslist .flex {
    align-items: start;
    flex-wrap: wrap;
    column-gap: 50rem;
}

.gameslist .wrapper{
    padding-bottom: 0;
}

.gameslist a {
    font-size: 27rem;
    color: #000000;
    font-weight: 400;
    font-family: "Press Start 2P";
    text-decoration: none;
    transition: 0.5s;
    display: inline-block;
}

.gameslist p {
    text-align: right;
    padding-right: 60rem;
    margin: 0;
}

.gameslist a:hover {
    transform: scale(1.2);

}

.gameslist .wrapper {
    max-width: 1740rem;

}

.footer {
    background-color: #000;
}

.footer .wrapper {
    padding: 25rem 15px;

}

.footer p,
.footer a {
    margin: 0;
    color: #fff;
    font-size: 27rem;
    font-weight: 400;
    font-family: "Press Start 2P";
    text-decoration: none;
    transition: 0.2s;
}

.footer .flex{
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50rem;
    row-gap: 20rem;
}

.footer a {
    display: inline-block;
}

.footer a:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 425px) {
    .console h2 {
        font-size: 50rem;
    }

    .questions h2{
        font-size: 83rem;
    }

}

@media screen and (min-width: 768px) {

    .games h2 {
        font-size: 100rem;
    }


    html {
        font-size: 0.65px;
    }
}

@media screen and (min-width: 1024px) {
    .console picture {
        max-width: 80vw;
    }

    .blue h2{
        font-size: 60rem;
    }

    .console .flex {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .questions .flex{
        /* column-gap: 30rem; */
        flex-wrap: nowrap;
    }

    .review {
        width: 60%;
    }

    .questions .button{
        width: 567rem;       
    }

    .footer .flex{
        justify-content: space-between;
    }

}



@media screen and (min-width: 1280px) {

    html {
        font-size: .8px;
    }

    .hamburger {
        display: none;
    }

    .nav_menu {
        display: block;
    }

    .header picture {
        width: 7vw;
    }

    .gamewatch .flex {
        flex-wrap: nowrap;
    }

    .prize .flex{
        flex-wrap: nowrap;
    }

    .button1{
        max-width: 570rem;
    }

    .prize>.flex {
        justify-content: flex-start;
    }

}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1600px) {
    html {
        font-size: 1px;
    }
}